@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spinAndPulse {
	0% {
		transform: rotate(0deg);
		opacity: 1;
	}
	50% {
		transform: rotate(180deg);
		opacity: 0.5;
	}
	100% {
		transform: rotate(360deg);
		opacity: 1;
	}
}

@font-face {
	font-family: CeraPro;
	font-display: swap;
	font-weight: 400;
	font-style: normal;
	src: url(/fonts/CeraPro/CeraPro-Regular.woff2) format("woff2");
}

@font-face {
	font-family: CeraPro;
	font-display: swap;
	font-weight: 500;
	font-style: normal;
	src: url(/fonts/CeraPro/CeraPro-Medium.woff2) format("woff2");
}

@font-face {
	font-family: CeraPro;
	font-display: swap;
	font-weight: 700;
	font-style: normal;
	src: url(/fonts/CeraPro/CeraPro-Bold.woff2) format("woff2");
}

* {
	box-sizing: border-box;
	color: #131313;
}

body {
	font-family: CeraPro, sans-serif !important;
	font-size: 1rem !important;
	line-height: 1.5 !important;
	background-color: #fffffa !important;
}

.box-up {
	box-shadow: 0 -5px 50px 0px rgba(0, 0, 0, 0.1);
}

.unset-border {
	border: none;
}
